@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Sigmar+One&display=swap');

body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(236, 250, 255);
}

h1,
h2 {
    font-family: 'Sigmar One', cursive;
}

main {
    padding: 2em;
    min-height: 40em;
    background-color: rgb(245, 251, 255);
    border-radius: 10px;
}

nav {
    padding: 1em;
}

.histogram {
    padding: 20px;
    background-color: grey;
    border-radius: 5px;
    width: 50%;
}

.histogram-row {
    background-color: white;
    border-bottom: 1px solid black;
    padding: 6px;
    padding-left: 15px;
    display: flex;
    font-size: 1.5em;
    box-shadow: 5px 5px black;
}

.histogram-row .dot::after { content: "\25CF"; margin-left: 1px; }
/**
* Style a dice using UTF-8 characters.
*/
.dice-utf8 .dice-1::after { content: "\2680"; }
.dice-utf8 .dice-2::after { content: "\2681"; }
.dice-utf8 .dice-3::after { content: "\2682"; }
.dice-utf8 .dice-4::after { content: "\2683"; }
.dice-utf8 .dice-5::after { content: "\2684"; }
.dice-utf8 .dice-6::after { content: "\2685"; }

.dice-utf8 {
    display: flex;
    font-size: 2em;
}

form input[type=number] {
    width: 15em;
}

table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 500px;
    text-align: center;
}

th {
    padding: 5px;
    background-color: rgb(41, 41, 41);
    color: white;
    text-align: center;
    border-right: 1px solid white;
}

td {
    padding: 10px;
    border-bottom: 1px solid black;
}

td a:hover {
    color: white;
}

tr:hover {
    background-color: rgba(62, 62, 62, 0.3);
}

.highscore {
    counter-reset: rowNumber;
    text-align: center;
}

.highscore td:first-child:before {
    counter-increment: rowNumber;
    content: counter(rowNumber);
}

/* Bet results */
.bet {
    position: relative;
    display: flex;
}

.coin-bag,
.bot-coin-bag {
    background-image: url("../img/coins.png");
    width: 74px;
    height: 100px;
}

.coin-bag p {
    position: absolute;
    top: 60%;
    left: 3%;
}

.bot-coin-bag p {
    position: absolute;
    top: 60%;
    left: 21%;
}

.player-coins {
    margin-right: 2em;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #ccc;
    text-align: center;
}
