{% extends 'base.html.twig' %}

{% block title %}Game 21{% endblock %}

{% block content %}
<h1>Game stats</h1>

<h2>Total number of each dice last game</h2>

<div class="total-dice-result">
    <div class="array-dice">1:
        {% for value in getOnes %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="array-dice">2: 
        {% for value in getTwos %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="array-dice">3:
        {% for value in getThrees %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="array-dice">4:
        {% for value in getFours %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="array-dice">5:
        {% for value in getFives %}
        <div class="dot"></div>
        {% endfor %}
    </div>
    
    <div class="array-dice">6:
        {% for value in getSixes %}
        <div class="dot"></div>
        {% endfor %}
    </div>
</div>

<h2>Highscore</h2>
<p>Highscore table here</p>

<h2>Game stats over time</h2>
<p>Fun game stats here</p>
<p>
    <button><a href="{{ path('game21_restart') }}">Start new game</a></button>
</p>
{% endblock %}