{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block content %}
<h1>Session details</h1>

<p>Here are some details on the session.</p>

<p>You may <a href="{{ path('session-destroy') }}">destroy the session</a> if you like, good for dealing
with trouble.</p>

{{ dump(app.session.all)}}
{% endblock %}